<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.SettingsDAL.CadenaConexion" connectionString="Data Source=KITTY\SQLSERVER2012;Initial Catalog=HOSPITAL3;Persist Security Info=True;User ID=Sexto;Password=Sexto"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>